.modalidades {
  display: flex;
  justify-content: center;
}

.modalidades__link {
  display: inline-block;
  font-size: 0.875em;
  font-weight: 600;
  text-decoration: none;
  padding: 0.4em 1em;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modalidades__link {
    padding: 0.7812em 3.75em;
  }
}

.modalidades__link--tema-banco {
  color: #fff;
  background-color: #185ea2;
}

.modalidades__link--tema-gestao {
  color: #0a2747;
  background-color: #f2eeee;
}
